body {
	margin:0;
	font-family: 'Open Sans', sans-serif;
}

header{
	width: 1000px;
	border-bottom: solid 05px #eee;
	padding: 0px 0px 0px 0px;
	margin-bottom: 30px	
}
#conteudo {
	width:1000px;
	height: 900px;
	padding:25px;
	margin:25px auto;
	background:#FFFF;
	border-radius: 10px;
}
#conteudo h2 {
	text-align: center;
	color: #666;
	font-family: 'arial';
}

.table1 {
	text-align: center;
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 80%;
    border: 0px;
}
.table1 td{
	font-size: 11pt;
	text-align: left;
}
.kotak{
	border: 2px solid #eee;
	border-radius:7%;
	width: 50%;
	padding: 10px;
	margin-bottom: 10px;
}

.tbl{
	background: #00BFFF ;
	color: white;
	font-size: 10pt;
	width: 10%;
	border: none;
	border-radius: 3px;
	padding: 8px 
}